<h3>Listado de heroes</h3>

<div class="row">
    <div class="col text-right">
        <button routerLink="/heroe/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table class="table table-hover table-dark mt-3 fadeIn slow">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Poder</th>
        <th scope="col">Estado</th>
        <th scope="col">Tools <i class="fas fa-wrench"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <label class="badge badge-success w-100 p-2" *ngIf="heroe.vivo">Vivo</label>
                <label class="badge badge-danger w-100 p-2" *ngIf="!heroe.vivo">Muerto</label>
            </td>
            <td></td>   
        </tr>
    </tbody>
</table>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>